<div class="car-info">
    <span class="make">{{carInfo.make}} {{carInfo.model}}</span>
    <span class="label label-primary reg-number">{{carRegNumber | regNumber}}</span>
</div>

<div class="writer-img" >
    <img src="/src/assets/muj.JPG" />
</div>

<div class="form-group">
    <div>
        <textarea class="form-control" rows="3" placeholder="Write a post..." 
            [(ngModel)]="currentStatus"
            [class.lineDisabled]="postType !== 'status'"
        >
        </textarea>
        <!--<span class="help-block">Post a new Status, Media, Event on your timeline.</span>-->
    </div>
</div>

<div class="media-wrapper">
    <div class="img-wrapper" *ngFor="let uri of uris; let i=index">
        <button type="button" class="close" (click)="clickUriRemove(i)">&#215;</button>
        <img *ngIf="postType === 'image'" src="{{uri}}" />
        
        <video *ngIf="postType === 'video'" height="100">
            <source src="{{uri}}" type="video/mp4">
        </video>

        <span *ngIf="postType === 'document'" class="glyphicon glyphicon-file document"></span>
    </div>

    <div class="selected-topics">
        <div *ngFor="let topic of selectedTopics" class="topic">
            <button type="button" class="close" (click)="clickRemoveTopics(topic)">&#215;</button>
            <span>{{topic}}</span>
        </div>
    </div>
</div>

<div class="btn add-media add-photos" 
     uploadFile 
     (onFileSelect)="clickAddImages($event)"
     [class.disabled]="postType !== 'status' && postType !== 'image'"
     >
    <span class="glyphicon menu-glyphicon glyphicon-picture" aria-hidden="true"></span>
    <span class="add-media-text">Add photo</span>
</div>
<div class="vertical-line"></div>
<div class="btn add-media add-videos" 
     uploadFile 
     (onFileSelect)="clickAddVideos($event)"
     [class.disabled]="postType !== 'status' && postType !== 'video'"
     >
    <span class="glyphicon menu-glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    <span class="add-media-text">Add video</span>
</div>
<div class="vertical-line"></div>
<div class="btn add-media add-documents"
     uploadFile
     (onFileSelect)="clickAddDocuments($event)"
     [class.disabled]="postType !== 'status' && postType !== 'document'">
    <span class="glyphicon menu-glyphicon glyphicon-file" aria-hidden="true"></span>
    <span class="add-media-text">Add document</span>
</div>
<div class="vertical-line"></div>

<div class="add-topics">
    <span class="text">Add Topics</span>
    <div class="btn-group menu">
        <a data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <div class="ripple-container"></div>
        </a>
        <ul class="dropdown-menu">
            <li *ngFor="let topic of topics">
                <a (click)="clickAddTopics(topic)">{{topic}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="vertical-line"></div>

<div class="btn btn-raised btn-success post"
   [class.disabled]="loading"
   (click)="clickAddStatus()">
    <span class="save-text">Post</span>
    <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>
