<div class="car-info">
    <span class="make">{{carInfo.make}} {{carInfo.model}}</span>
    <span class="label label-primary reg-number">{{carRegNumber | regNumber}}</span>
</div>

<div class="writer-img" >
    <img src="/src/assets/muj.JPG" />
</div>

<div class="form-group">
    <div>
        <textarea class="form-control" rows="3" placeholder="Write a post..." [(ngModel)]="currentStatus"></textarea>
        <span class="help-block">Post a new Status, Media, Event on your timeline.</span>
    </div>
</div>

<div class="btn add-media">
    <span class="glyphicon menu-glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    <span class="add-media-text">Add media</span>
</div>
<div class="vertical-line"></div>

<div class="btn btn-raised btn-success post"
   [class.disabled]="loading"
   (click)="clickAddStatus()">
    <span class="save-text">Post</span>
    <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>
