<div class="car-info">
    <span class="make">{{carInfo.make}} {{carInfo.model}}</span>
    <span class="label label-primary reg-number">{{carRegNumber | regNumber}}</span>
</div>

<div class="writer-img" >
    <img src="/src/assets/muj.JPG" />
</div>

<div class="form-group">
    <div>
        <textarea class="form-control" rows="3" placeholder="Write a post..." 
            [(ngModel)]="currentStatus"
            [class.lineDisabled]="postType !== 'status'"
        >
        </textarea>
        <!--<span class="help-block">Post a new Status, Media, Event on your timeline.</span>-->
    </div>
</div>

<div class="media-wrapper">
    <div class="img-wrapper" *ngFor="let uri of uris; let i=index">
        <button type="button" class="close" (click)="clickUriRemove(i)">&#215;</button>
        <img *ngIf="postType === 'Image'" src="{{uri}}" />
        
        <video *ngIf="postType === 'Video'" height="100">
            <source src="{{uri}}" type="video/mp4">
        </video>
    </div>
    
</div>

<div class="btn add-media add-photos" 
     uploadFile 
     (onFileSelect)="clickAddImages($event)"
     [class.disabled]="postType === 'Video'"
     >
    <span class="glyphicon menu-glyphicon glyphicon-picture" aria-hidden="true"></span>
    <span class="add-media-text">Add photo</span>
</div>
<div class="vertical-line"></div>
<div class="btn add-media add-videos" 
     uploadFile 
     (onFileSelect)="clickAddVideos($event)"
     [class.disabled]="postType === 'Image'"
     >
    <span class="glyphicon menu-glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
    <span class="add-media-text">Add video</span>
</div>
<div class="vertical-line"></div>

<div class="btn btn-raised btn-success post"
   [class.disabled]="loading"
   (click)="clickAddStatus()">
    <span class="save-text">Post</span>
    <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>
