.left-buttons {
    width: 100%;
}

.btn-group-vertical .btn {
   margin: 10px 1px;
   text-transform: none;
}

.btn.selected, .btn.selected:focus {
    background: #009688;
    color: #ffffff;
}

h4 {
    color: grey;
}

.glyphicon {
    font-size: 26px;
    top: 6px;
    margin-right: 10px;
}

img {
    margin-left: 30px;
    cursor: pointer;
}