.left-buttons {
    width: 100%;
}

.btn {
   margin: 10px 1px !important;
   text-transform: none;
}

.btn.selected {
    background: #009688 !important;
    color: #ffffff;
}

h4 {
    color: grey;
}