<div class="status">
    <div class="btn-group btn-group-justified btn-group-raised">
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Update Status</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Add Photos/Videos</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Add Milestone</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Ask a Question</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Upload Documents</a>
    </div>
</div>

<div class="wall">
</div>

<div class="timeline"></div>