<div class="status">
    <div class="btn-group btn-group-justified">
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Update Status</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Add Photos/Videos</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Add Milestone</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Ask a Question</a>
        <a href="javascript:void(0)" class="btn " data-toggle="modal" data-target="#myModal">Upload Documents</a>
    </div>

    <p class="status-text"><strong>Can't wait to meet up with the McLaren Crew tommorw morning!</strong></p>
</div>

<div class="wall">
</div>

<div class="timeline"></div>