.status {
    width: 100%;
    //border: 2px solid lightgrey;
    height: 115px;
    background-color: #ffffff;
}

.wall {
    width: 720px;
    min-height: calc(100% - 120px);
    background-color: #ffffff;
    //border: 2px solid lightgrey;
    margin-top: 15px;
    float: left;
}

.timeline {
    margin-left: 15px;
    width: 164px;
    min-height: calc(100% - 120px);
    background-color: #ffffff;
    //border: 2px solid lightgrey;
    margin-top: 15px;
    float: left;
}