.loading {
    .glyphicon {
        font-size: 40px;
    }

    font-size: 45px;
    color: #B5B5B5;
}

/*:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/