<div class="cover">
    <img src="/assets/cover.jpg">
</div>

<loading *ngIf="loading"></loading>

<div class="cars-wrapper">
    <div *ngFor="let car of cars; let i=index" class="profile">
        <div class="profile__image">
            <img src="{{ car.info.image || '/assets/default-car.jpg'}}">
            <span class="change-picture" uploadFile (onFileSelect)="clickAddPicture($event, i)">Change picture</span>
        </div>
        <a *ngIf="car.pictureChanged" class="btn btn-raised btn-success upload" [class.disabled]="false" (click)="clickUploadPicture(car)">
            <span class="save">Upload</span>
            <span *ngIf="car.loading === true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </a>
        <div class="name">
            <a class="btn glyphicon glyphicon-trash remove" (click)="clickRemove(car.userCarId)" [class.disabled]="loading">
            </a>
        </div>
        <div class="profile__info">
            <a class="btn btn-primary profile__edit"  [routerLink]="['/cars/' + car.route]">
                <span>Edit profile</span>
            </a>
            <span class="profile__name">{{car.name}}</span>
            <span class="profile__followers">{{followers[car.id]}} Followers</span>
        </div>
    </div>
    <div class="add" (click)="clickOpenCarModal()">
        <div class="add__buttons">
            <span class="glyphicon glyphicon-plus add__plus"></span>
            <span class="add__text">Add Car</span>
        </div>
    </div>
</div>

<alert [message]="alertMessage" [state]="requestState" (resetAlertMessage)="resetAlertMessage($event)"></alert>

<modal *ngIf="modal === 'addCarModal'"
    [contentComponent]="AddCarModalContent"
    [title]="'Adding your car to Logbook'"
    [size]="'small'"
    [hideFooter]="true">
</modal>