<a class="logo" href="javascript:void(0)" [routerLink]="['/feed']">Logbook</a>

<div class="search">
    <input type="text" class="form-control col-md-8 search__input" placeholder="" #term (keyup)="search(term.value)">
    <span class="glyphicon glyphicon-search btn search__icon" aria-hidden="true"></span>
</div>

<ul class="search__result" [class.hide]="hideSearchResults">
    <li *ngFor="let item of items$ | async" (click)="onClickSearchResult(item)">{{item.make}} {{item.model}} {{item.yearOfManufacture}}
    </li>
    <li *ngIf="!searchService.hasData" class="no-results">No results found</li>
</ul>

<!--<li>
        <a href="javascript:void(0)" *ngIf="isFollowEnabled" (click)="onClickUnFollow()" [class.followActive]="!this.followState">
                        Unfollow
                    </a>
    </li>
    <li>
        <a href="javascript:void(0)" *ngIf="isFollowEnabled" (click)="onClickFollow()" [class.followActive]="this.followState">
                Folllow
            </a>
    </li>
    <li><a href="javascript:void(0)">Notifications</a></li>-->
<div class="profile-dropdown">
    <div data-target="#" class="profile-dropdown__img dropdown-toggle" data-toggle="dropdown">
        <img src="/assets/muj.JPG" />
    </div>
    <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
    <strong>{{name}}</strong>
    <b class="caret"></b>
</a>-->
    <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" [routerLink]="['/garage']">Profile</a></li>
        <li><a href="javascript:void(0)">Settings</a></li>
        <li><a href="javascript:void(0)">Security</a></li>

        <li class="divider"></li>
        <li><a href="javascript:void(0)" (click)="clickLogin()">Sing In</a></li>
        <li><a href="javascript:void(0)" (click)="clickSignOut()">Sign Out</a></li>
    </ul>
</div>