<a class="logo" href="javascript:void(0)" [routerLink]="['/feed']">Logbook</a>

<div class="search">
    <input type="text" class="form-control col-md-8 search__input" placeholder="" #term (keyup)="search(term.value)">
    <span class="glyphicon glyphicon-search btn search__icon" aria-hidden="true"></span>
</div>

<ul class="search__result" [class.hide]="hideSearchResults">
    <li *ngFor="let item of items$ | async" (click)="clickSearchResult(item)">{{item.make}} {{item.model}} {{item.yearOfManufacture}}
    </li>
    <li *ngIf="!searchService.hasData" class="no-results">No results found</li>
</ul>

    <a href="javascript:void(0)" *ngIf="isFollowEnabled" (click)="clickUnFollow()" [class.followActive]="!this.followState">
        Unfollow
    </a>
    <a href="javascript:void(0)" *ngIf="isFollowEnabled" (click)="clickFollow()" [class.followActive]="this.followState">
        Folllow
    </a>

<div class="profile-dropdown">
    <div data-target="#" class="profile-dropdown__img dropdown-toggle" data-toggle="dropdown">
        <img src="/assets/muj.JPG" />
    </div>
    <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
    <strong>{{name}}</strong>
    <b class="caret"></b>
</a>-->
    <ul class="dropdown-menu">
        <li *ngFor="let car of cars">
            <a href="javascript:void(0)" class="profile-dropdown__link" [routerLink]="['/cars/' + car.route + '/timeline']">{{car.name}}</a>
        </li>

        <li class="profile-dropdown__list-delimiter">
            <a href="javascript:void(0)" class="profile-dropdown__link" [routerLink]="['/garage']">View Garage</a>
        </li>
         <li>
             <a href="javascript:void(0)" class="profile-dropdown__link">Settings</a>
         </li>
        <div class="divider"></div>
        <li>
            <a href="javascript:void(0)" class="profile-dropdown__link profile-dropdown__link--auth" (click)="clickLogin()">Log in</a>
        </li>
        <li>
            <a href="javascript:void(0)" class="profile-dropdown__link profile-dropdown__link--auth" (click)="clickSignOut()">Log out</a>
        </li>
    </ul>
</div>