<a class="logo" href="javascript:void(0)" [routerLink]="['/feed']">Logbook</a>

<div class="search">
    <input type="text" class="form-control col-md-8 search__input" placeholder="" #term (keyup)="search(term.value)">
    <span class="glyphicon glyphicon-search search__icon"></span>

    <ul class="search__result" [class.hide]="hideSearchResults">
        <li *ngFor="let item of items$ | async" (click)="clickSearchResult(item)">
            <div class="search__image">
                <img src="{{item.image}}" />
            </div>
            <div class="search__name">{{item.make}} {{item.model}} {{item.yearOfManufacture}}</div>
        </li>
        <li *ngIf="!searchService.hasData" class="no-results">No results found</li>
    </ul>
</div>



<div *ngIf="isUserLoggedIn()" class="profile-dropdown">
    <div data-target="#" class="profile-dropdown__img dropdown-toggle" data-toggle="dropdown">
        <img src="{{profile?.image}}" />
    </div>
    <!--<a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
    <strong>{{name}}</strong>
    <b class="caret"></b>
</a>-->
    <ul class="dropdown-menu">
        <li *ngFor="let car of cars">
            <a href="javascript:void(0)" class="profile-dropdown__link" [routerLink]="['/cars/' + car.route + '/timeline']">{{car.name}}</a>
        </li>

        <li class="profile-dropdown__list-delimiter">
            <a href="javascript:void(0)" class="profile-dropdown__link" [routerLink]="['/garage/' + profile?.route]">View Garage</a>
        </li>
        <div class="divider"></div>
        <li>
            <a href="javascript:void(0)" class="profile-dropdown__link profile-dropdown__link--auth" (click)="clickSignOut()">Log out</a>
        </li>
    </ul>
</div>