<div *ngIf="carLoaded">
    <add-post *ngIf="carService.selectedCar.isUserCar"></add-post>

    <car-navigation></car-navigation>
</div>

<router-outlet></router-outlet>

<modal [contentComponent]="CarDetailsComponent" [title]="'Car Details'" *ngIf="modalName == 'carDetailsModal'"></modal>
<modal [contentComponent]="TaxDetailsComponent" [title]="'Tax Details'" *ngIf="modalName == 'taxDetailsModal'"></modal>
<modal [contentComponent]="MotDetailsComponent" [title]="'MOT Details'" *ngIf="modalName == 'motDetailsModal'"></modal>
