<h1>Profile Page</h1>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Firstname Lastname</label>
    <input type="text" class="form-control" id="i5i">
    <span class="help-block">Please enter your name</span>
    <span class="material-input"></span>
</div>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Email address</label>
    <input type="email" class="form-control" id="i5i">
    <span class="help-block">Please enter a valid email address</span>
    <span class="material-input"></span>
</div>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Phone Number</label>
    <input type="text" class="form-control" id="i5i">
    <span class="help-block">Please enter a valid phone number</span>
    <span class="material-input"></span>
</div>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Town</label>
    <input type="text" class="form-control" id="i5i">
    <span class="help-block">Please enter your Town</span>
    <span class="material-input"></span>
</div>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Post Code</label>
    <input type="text" class="form-control" id="i5i">
    <span class="help-block">Please enter a valid post code</span>
    <span class="material-input"></span>
</div>

<div class="form-group label-floating is-empty">
    <label for="i5i" class="control-label">Address</label>
    <input type="text" class="form-control" id="i5i">
    <span class="help-block">Please enter your address</span>
    <span class="material-input"></span>
</div>

<div class="buttons">
    <a href="javascript:void(0)" class="btn btn-raised btn-success">Save</a>
    <a href="javascript:void(0)" class="btn btn-raised btn-danger">Cancel</a>
</div>

