<div class="writer-img" >
    <img src="/assets/muj.JPG" />
</div>

<textarea class="text-input" rows="4" placeholder="What's up?'"
    [(ngModel)]="currentStatus"
    [class.lineDisabled]="postType !== 'status'"
>
</textarea>

<div class="add" hoverAdd>
    <div class="add__plus">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>

    <div class="add__action add__action--video"
        uploadFile
        (onFileSelect)="clickAddMedia($event, 'video')"
        [class.disabled]="postType !== 'status' && postType !== 'video'">
        <span class="glyphicon glyphicon-facetime-video"></span>
    </div>
    <div class="add__action add__action--image"
        uploadFile
        (onFileSelect)="clickAddMedia($event, 'image')"
        [class.disabled]="postType !== 'status' && postType !== 'image'">
        <span class="glyphicon glyphicon-picture"></span>
    </div>
    <div class="add__action add__action--document"
        uploadFile
        (onFileSelect)="clickAddMedia($event, 'document')"
        [class.disabled]="postType !== 'status' && postType !== 'document'">
        <span class="glyphicon glyphicon-file"></span>
    </div>
</div>

<div class="media-wrapper">
    <div class="img-wrapper" *ngFor="let uri of uris; let i=index">
        <button type="button" class="close" (click)="clickUriRemove(i)">&#215;</button>
        <img *ngIf="postType === 'image'" src="{{uri}}" />

        <video *ngIf="postType === 'video'" height="100">
            <source src="{{uri}}" type="video/mp4">
        </video>

        <div *ngIf="postType === 'document'" class="documents">
            <span class="title" title="{{files[i].name}}">{{files[i].name}}</span>
            <span class="glyphicon glyphicon-file document"></span>
        </div>
    </div>

    <div class="selected-topics">
        <div *ngFor="let topic of selectedTopics" class="topic">
            <button type="button" class="close" (click)="clickRemoveTopics(topic)">&#215;</button>
            <span>{{topic}}</span>
        </div>
    </div>
</div>

<div class="line"></div>

<div class="add-topics">
    <span class="text">Add Topics</span>
    <div class="btn-group menu">
        <a data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <div class="ripple-container"></div>
        </a>
        <ul class="dropdown-menu">
            <li *ngFor="let topic of topics">
                <a (click)="clickAddTopics(topic)">{{topic}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="btn btn-raised btn-success post"
   [class.disabled]="loading"
   (click)="clickAddPost()">
    <span class="save-text">Post</span>
    <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>
