@import '../../../../../styles/mixins';

:host {
    width: 100%;
    display: block;
    background-color: #ffffff;
    float: left;
    padding-bottom: 5px;
}

.menu {
    margin-bottom: 0;
}

.writer-img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin: 30px;
    float: left;

    img {
        width: 100%;
    }
}

.text-input {
    border: none;
    width: 300px;
    margin-top: 30px;
    float: left;
}

.add {
    float: right;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 18px;

    &__plus {
        @extend %center;

        font-size: 24px;
        cursor: pointer;
    }

    &__action {
        padding: 8px;
        border-radius: 16px;
        background: #e9e8ee;
        position: absolute;
        box-shadow: 1px 1px 3px 1px rgba(196, 195, 195, 0.75);
        cursor: pointer;

        &.disabled {
            cursor: default;

            span {
                opacity: 0.3;
            }
        }

        &:hover:not(.disabled) {
            font-size: 24px;
            border-radius: 20px;
            padding: 10px;
        }

        &--video {
            transition: 0.3s;
            left: 0;
            top: 32px;
            color: red;
        }

        &--image {
            transition: 0.3s;
            left: 47px;
            top: -5px;
            color: green;
        }

        &--document {
            transition: 0.3s;
            left: 87px;
            top: 32px;
            color: blue;
        }
    }
}

.media-wrapper {
    float: left;
    clear: left;

    .img-wrapper {
        position: relative;
        float: left;
    }

    img,
    video {
        height: 100px;
        padding: 15px;
        float: left;
    }
    .documents {
        .document {
            font-size: 80px;
            padding: 15px;
            float: left;
            color: grey;
        }

        .title {
            display: block;
            margin-left: 18px;
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 15px;
        }
    }


    button {
        top: -12px;
        right: -12px;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }

    button:hover ~ img,
    button:hover ~ video,
    button:hover ~ .documents {
        opacity: 0.5;
    }

    .selected-topics {
        float: left;
        clear: left;
        padding: 5px 0 10px 0;

        .topic {
            position: relative;
            float: left;
            font-weight: 500;
            color: grey;
            margin-left: 32px;
        }

        button {
            top: -22px;
            right: -22px;
        }
    }
}

.add-topics {
    float: left;
    clear: left;
    margin: 4px 20px;
    padding: 0;

    .menu {
        padding: 0;
        margin: 0;


        .dropdown-toggle {
            cursor: pointer;
            padding: 4px 8px;
            color: white;
        }

        a {
            cursor: pointer;
        }

        .caret {
            border-top: 4px dashed;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
        }
    }

    .text {
        color: #949494;
        font-weight: 500;
    }
}

.line {
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    float: left;
    margin: 10px 0;
}

.post {
    padding: 0 10px;
    float: right;
    font-size: 13px;
    margin: 0 10px 0 0;
    color: white;
}

.car-images {
    float: right;
    margin-right: 15px;

    &__image {
        height: 50px;
        float: left;
        cursor: pointer;
        margin: 0 5px;

        &:hover:not(&--active) {
            opacity: 0.7;
        }

        &--active {
            cursor: default;
            border: solid 2px blue;
        }

        img {
            height: 100%;
            float: left;
        }
    }
}