.sublinks-wrapper {
    background-color: #AEABAB;
    height: 0px;
    transition: 0.2s;
    overflow: hidden;
}

.active {
    height: 100px;
}

.btn-link {
    color: white;
}

a, .left-buttons {
    width: 100%;
}

.btn-group-vertical .btn {
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item {
    width: 100%;
}

.btn.selected, .btn.selected:focus {
    background: #009688;
    color: #ffffff;
}

h4 {
    color: grey;
}

.garage {
    margin-bottom: 13px;
}

.glyphicon {
    font-size: 26px;
    top: 6px;
    margin-right: 10px;
}