status {
    width: 100%;
    display: block;
    height: 120px;
    background-color: #ffffff;
}

wall {
    width: 720px;
    min-height: calc(100% - 141px);
    background-color: #ffffff;
    //border: 2px solid lightgrey;
    margin-top: 15px;
    float: left;
    padding: 10px;
}

timeline {
    margin-left: 15px;
    width: 164px;
    min-height: calc(100% - 141px);
    background-color: #ffffff;
    //border: 2px solid lightgrey;
    margin-top: 15px;
    float: left;

    .header {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        border-bottom: solid 2px #F3ECEC;
    }

    .item {
        font-weight: 500;
        padding: 5px;
        margin-left: 10px;
        float: left;
        clear: both;
    }
}
