<div class="content" [class.removing]="loading">
    <div class="content__profile-image">
        <img src="{{post.carData.image || '/assets/default-car.jpg'}}" />
    </div>
    <a class="content__car-name" [routerLink]="['/cars/' + carRoute]">{{post.carData.make}} {{post.carData.model}}</a>

    <div class="btn-group edit-menu">
        <span href="bootstrap-elements.html" data-target="#" class="dropdown-toggle glyphicon glyphicon-option-horizontal edit-menu__icon"
            data-toggle="dropdown">
            <div class="ripple-container"></div>
        </span>
        <ul class="dropdown-menu">
            <li><a (click)="clickEdit()">Edit</a></li>
            <li><a (click)="clickDelete()">Delete</a></li>
        </ul>
    </div>
    <span class="content__date">{{post.activityData.createdDate | timelineDate }}</span>

    <div class="line"></div>

    <div class="media-wrapper">
        <div class="media-post" *ngFor="let uri of post.activityData.contentUris; let i=index">
            <img *ngIf="post.type === 'Image'" class="content__image {{i}}" src="{{uri}}" (click)="clickImage(i)" />

            <video *ngIf="post.type === 'Video'" width="490" controls>
                <source src="{{uri}}" type="video/mp4">
            </video>

            <a href="{{uri}}" *ngIf="post.type === 'Document'" class="documents">
                <span class="title">document #{{i}}</span>
                <span class="glyphicon glyphicon-file document"></span>
            </a>
        </div>
    </div>

    <div class="content__description">
        <p>{{post.activityData.description}}</p>
    </div>
</div>

<div class="social">
    <span class="like__count">{{likes.length}}</span>
    <span class="glyphicon glyphicon-heart like__button" (click)="clickLike()" [ngClass]="{'like__button--enabled': likesService.isCurrentUserLike()}">
    </span>
    <!--<a (click)="clickShare(post.activityData.id)">Share</a>-->
</div>

<div *ngIf="post.comments.loading" class="loading show-comments-loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate show-comments-loading-spinner"></span>
</div>

<div class="line"></div>

<comments [post]="post" [showOptions]="showOptions" (commentsCount)="setCommentsCount($event)"></comments>

<modal *ngIf="modal == 'imageModal'" [contentComponent]="ImageModalComponent" [title]="'Images'" [size]="'large'" [hideFooter]="true">
</modal>

<modal *ngIf="modal == 'editModal'" [contentComponent]="EditModalComponent" [title]="'Edit post'" [showSaveButton]="true">
</modal>