:host {
    background: #ffffff;
    margin-bottom: 20px;
    float: left;
    border: solid 1px #EFECEC;
    border-radius: 3px;
    width: 100%;
}

.line {
    width: 100%;
    float: left;
    margin-top: 5px;
    background: #EAEAEA;
    height: 1px;
}

.content {
    float: left;
    margin-top: 9px;
    padding: 5px;
    border-radius: 4px;
    width: 100%;

    &__profile-image {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        overflow: hidden;
        float: left;

        img {
            height: 100%;
        }
    }

    &__car-name {
        float: left;
        font-weight: bold;
        margin-left: 10px;
    }

    &__topics {
        float: left;
        margin: 10px;
        font-size: 15px;
        color: #a4a4ed;

        span {
            margin-left: 5px;
        }
    }

    &__date {
        color: #8A8A8A;
        float: right;
        margin: 10px;
    }

    &__description {
        width: 100%;
        margin-top: 5px;
        float: left;
        padding: 0 10px 0 10px;
        font-weight: 400;
        font-size: 16px;
    }

    &__image {
        &:hover {
            opacity: 0.8;
        }

        width: 100%;
        max-height: 300px;
        float: left;
        cursor: pointer;
    }
}

.removing {
    opacity: 0.5;
}

.social {
    float: left;
    clear: left;
    padding: 10px;

    a {
        padding: 5px;
        font-weight: 500;
        font-size: 16px;
    }

    .like__button {
        padding-right: 0;
        font-weight: 400;
        color: grey;
        font-size: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;

        &--enabled {
            color: red;
        }
    }
}

.show-comments {
    float: right;
    font-weight: 400;
    font-size: 14px;
    margin: 10 20 0 0;
    padding: 0;
    text-transform: none;
    color: lightgrey;

    &-sign {
        color: black;
        font-weight: 400;
    }
}

.edit-menu {
    margin: 0;
    margin-right: 5px;
    float: right;

    a {
        cursor: pointer;
        padding: 4px 10px;
    }
}

.caret {
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.loading-wrapper {
    width: 50px;
    float: left;
    margin-left: 195px;
    top: 5px;
    position: relative;
    height: 1px;

    span {
        font-size: 30px;
    }
}

a {
    cursor: pointer;
}

.media-wrapper {
    float: left;
    clear: left;

    .documents {
        .document {
            font-size: 80px;
            padding: 5px 15px;
            float: left;
            clear: left;
            color: grey;
        }

        .title {
            float: left;
            margin: 10px 0 0 18px;
            width: 100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 15px;
        }
    }
}

.media-post {
    float: left;
    width: 100%;
}

video {
    float: left;
    margin: 20px;
}

.like__count {
    font-size: 12px;
}

// .comments-count {
//     font-weight: 400;
//     color: black
// }