:host {
    padding: 24px 50px !important;
}

img {
    width: 100%;
    padding: 20px;
}

a.arrow {
    padding: 0 15px;
}

.arrow {
    position: absolute;
    top: 200px;
    font-size: 49px;
    cursor: pointer;
}

.arrow:hover {
    opacity: 0.8;
}

.arrow.left {
    left: 3px;
}

.arrow.right {
    right: 3px;
}

.header {
    .username {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .date {
        font-size: 16px;
        margin-left: 15px;
    }
}