:host {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    display: block;
}

.search {
    width: 350px;
}

.glyphicon-search {
    cursor: pointer;
    padding: 0 0 0 1px;
    margin: 0;
    color: white;
    font-size: 21px;
}

.profile-img {
    width: 40px;
    float: left;
    margin-top: 6px;

    img {
        width: 100%;
    }
}

.dropdown {
    margin-left: 13px;

    a.dropdown-toggle {
        float: left;
        padding-left: 5px;
    }
}

$content: 762px;
$sidebar: 192px;
$logo: 90px;
$padding: 25px;

.navbar {
    min-width: $content + $sidebar + $padding;
}

.navbar-form {
     margin-left: calc((100% + 50px - #{$content} - #{$logo})/2);
}

li:hover {
    background-color: #009184;
}

.form-group.is-focused .form-control {
        background-image: linear-gradient(#DBFFFC, #D8FFFB), linear-gradient(#D2D2D2, #D2D2D2);
}

.navbar .navbar-form .form-control {
    border-radius: 5px;
    padding-left: 5px;
}

.navbar .navbar-form .form-control:focus::-webkit-input-placeholder {
    color: #86C5BF;
}