@mixin content-default {
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #ffffff;
    padding: 5px;
    display: block;
}

%center {
    @extend %center--left;
    @extend %center--top;
}

%center--left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%center--top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
