@mixin content {
    display: block;
    width: 500px;
    position: relative;
    margin: auto;
    margin-top: 80px;
}

%center--left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%center--top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%center {
    @extend %center--left;
    @extend %center--top;

    transform: translate(-50%, -50%);
}

%truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
