@mixin content {
    display: block;
    width: 500px;
    position: relative;
    margin: auto;
    margin-top: 80px;
}

%center {
    @extend %center--left;
    @extend %center--top;
}

%center--left {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%center--top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
