@import "_bootstrap-custom";
@import "loading";

html, body {
    margin: 0;
    padding: 5px;
    background: #e9e8ee;
}

my-app {
    display: block;
}

content {
    display: block;
}

.btn-primary {
    background: white;
    padding: 4px 18px;

    &:hover {
        span {
            color: white;
        }
    }


    span {
        color: blue;
        font-size: 12px;
    }
}

.modal {
    .large {
    width: 500px;}
}
