// Used only for global styles

@import "_bootstrap-custom";
@import "loading";
@import "icons";

html, body {
    margin: 0;
    padding: 0;
    background: #F2F2F2;
}

my-app {
    display: block;
}

content {
    display: block;
}

.btn-primary {
    background: white;
    padding: 4px 18px;

    &:hover {
        span {
            color: white;
        }
    }


    span {
        color: blue;
        font-size: 12px;
    }
}

.modal {
    .large {
        width: 500px;
    }
}

li:focus {
    outline: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
}

button:active, button:focus {
    border: none;
    outline: none;
}

[disabled] {
    cursor: default !important;
    opacity: 0.5 !important;
}

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}

[tabindex]:focus {
    outline: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
    }
}