@import "mixins";

h1 {
    margin-top: 0;
    margin-bottom: 50px;
    display: inline-block;
}

:host {
    @include content-default;

    padding: 30px 100px;
}


a .glyphicon {
    margin-left: 10px;
}

.remove {
    float: right;
    font-size: 25px;
    margin-top: -8px;
    padding: 0;
    transition: none;
}

.btn.remove:hover {
    color: red;
    font-weight: bold;
    background-color: transparent;
}

.panel-info {
    margin-top: 95px;
}

loading {
    display: inline-block;
    margin-left: 50px;
    top: 28px;
    position: absolute;
}

.well {
    background: -webkit-linear-gradient(#fff, #D1D1D1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #D1D1D1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #D1D1D1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #D1D1D1); /* Standard syntax */
}