<div>
    <h1>My cars</h1>
    <loading *ngIf="loading"></loading>
</div>

<div *ngFor="let car of cars">
    <div class="well">
        <span>{{car.name}}</span> 
        <a class="btn glyphicon glyphicon-trash remove" 
            (click)="clickRemove(car.id)"
            [class.disabled]="loading"
        >
        </a>
    </div>

</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Add a new Car</h3>
    </div>
    <div class="panel-body">
        <div class="form-group label-floating">
            <div class="input-group">
                <label class="control-label">Enter the Registration Number</label>
                <input type="text" class="form-control" #box (keyup)="changeRegNumber(box.value)">
                <p class="help-block">You need to enter a valid <code>Registration Number</code> in order to add a car.</p>
                <span class="input-group-btn">
                    <a class="btn btn-raised btn-success" 
                       [class.disabled]="loading"
                       (click)="clickAddCar()">
                        <span class="save-text">add</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<alert [message]="alertMessage" [state]="requestState" (resetAlertMessage)="resetAlertMessage($event)"></alert>