@import "mixins";

:host {
    display: block;
    margin-top: 41px;
}

.top-wrapper {
    background: #e7e7e7;
    padding-top: 30px;

    &__content {
        display: block;
        margin: auto;
        width: 500px;
    }
}

.content-wrapper {
    display: block;
    width: 500px;
    margin: auto;
}