<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Detail</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td>Make</td>
            <td>{{userCar.car.make}}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{userCar.car.model}}</td>
        </tr>
        <tr class="active">
            <td>Year Of Manufacture</td>
            <td>{{userCar.car.yearOfManufacture}}</td>
        </tr>
        <tr>
            <td>Colour</td>
            <td>{{userCar.colour}}</td>
        </tr>
        <tr class="active">
            <td>Cylinder Capacity</td>
            <td>{{userCar.cylinderCapacity}}</td>
        </tr>
        <tr>
            <td>Fuel Type</td>
            <td>{{userCar.fuelType}}</td>
        </tr>
        <tr class="active">
            <td>Registration Number</td>
            <td>{{userCar.registrationNumber}}</td>
        </tr>
        <tr>
            <td>Wheel Plan</td>
            <td>{{userCar.wheelPlan}}</td>
        </tr>

        <tr class="active">
            <td>CO2 Emission</td>
            <td>{{userCar.cO2Emission}}</td>
        </tr>
        <tr>
            <td>Weight</td>
            <td>{{userCar.weight}}</td>
        </tr>
        <tr class="active" *ngIf="userCar.Transmission">
            <td>Transmission</td>
            <td>{{userCar.transmission}}</td>
        </tr>
        <tr *ngIf="userCar.SixMonthsTaxRate">
            <td>SixMonths Tax Rate</td>
            <td>{{userCar.sixMonthsTaxRate}}</td>
        </tr>
    </tbody>
</table>