<h4 style="padding-top: 10px">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <strong>My Garage</strong>
</h4>

<div class="btn-group-vertical left-buttons">
    <div class="menu-item"
        *ngFor="#car of cars"
    >
        <a href="javascript:void(0)" class="btn btn-raised"
           [class.selected]="car.name === selected"
           (click)="onCarSelect(car)">
            {{car.name}}
        </a>
        <div *ngIf="car.name === selected" class="sublinks-wrapper">
            <a class="btn btn-link">Car details</a>
            <a class="btn btn-link">MOT details</a>
            <a class="btn btn-link">Tax details</a>
        </div>
    </div>

</div>

