<h4 style="padding-top: 10px">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <strong>My Garage</strong>
</h4>

<div class="btn-group-vertical left-buttons">

    <a href="javascript:void(0)" class="btn btn-raised garage" [routerLink]="['Garage']" [class.selected]="selected === 'garage'" (click)="onGarageSelect()">
        Garage
    </a>

    <div class="menu-item"
        *ngFor="let car of cars"
    >
        <a href="javascript:void(0)" class="btn btn-raised"
           [class.selected]="car.name === selected"
           (click)="onCarSelect(car)">
            {{car.name}}
        </a>
        <div  
              [class.active]="car.name === selected"
             class="sublinks-wrapper">
            <a class="btn btn-link" (click)="onMenuClick('taxDetailsModal')">Car details</a>
            <a class="btn btn-link" (click)="onMenuClick('motDetailsModal')">MOT details</a>
            <a class="btn btn-link" (click)="onMenuClick('carDetailsModal')">Tax details</a>
        </div>
    </div>

</div>

