ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

li {
    float: left;
    cursor: pointer;
}

li {
    display: block;
    color: grey;
    font-size: 23px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.active {
    border-bottom: solid 2px blue;
}

li:hover {
    //background-color: #111111;
}