<h1>My cars</h1>

<div *ngFor="let car of cars">
    <div class="well">
        <span>{{car.name}}</span> <span class="glyphicon glyphicon-trash remove"></span>
    </div>

</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Add a new Car</h3>
    </div>
    <div class="panel-body">
        <div class="form-group label-floating">
            <div class="input-group">
                <label class="control-label">Enter the Registration Number</label>
                <input type="text" class="form-control" #box (keyup)="onKey(box.value)">
                <p class="help-block">You need to enter a valid <code>Registration Number</code> in order to add a car.</p>
                <span class="input-group-btn">
                    <a class="btn btn-raised btn-success" (click)="onRegNumberSubmit()">
                        <span class="save-text">add</span>
                        <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>

<alert [message]="message" [state]="requestState"></alert>