.wrapper {
    width: 100%;
    height: calc(100% - 100px);
    top: 59px;
}

.content-wrapper {
    width: calc(100% - 222px);
    height: calc(100% - 80px);
    position: absolute;
    left: 210px;
}

.content {
    width: 762px;
    height: 100%;
    margin: 10px auto;
    margin-top: 70px;
}