:host {
    position: relative;
    display: block;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: calc(100% - 100px);
}

.content-wrapper {
    width: calc(100% - 222px);
    height: calc(100% - 80px);
    position: absolute;
    left: 210px;
}

.content {
    width: 850px;
    position: absolute;
    height: 100%;
    left: 50%;
    margin-left: -425px;
    background: #e9e8ee;
}

.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    height: 40px;
    background: white;
}