:host {
    padding: 0 15px;
    margin: 10px;
    width: 192px;
    height: 100%;
    background: #FFFBFB;
    display: block;
    float: left;
    position: fixed;
    z-index: 2;
    top: 60px;
}

.left-buttons {
    width: 100%;
}

.btn-group-vertical .btn {
    margin: 10px 1px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn.selected, .btn.selected:focus {
    background: #009688;
    color: #ffffff;
}

h4 {
    color: grey;
}

.glyphicon {
    font-size: 26px;
    top: 6px;
    margin-right: 10px;
}

img {
    margin-left: 3px;
    cursor: pointer;
}