<garage></garage>

<h4>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <strong>Documents</strong>
</h4>

<div class="btn-group-vertical left-buttons">
    <a href="javascript:void(0)" class="btn btn-raised"
       *ngFor="let doc of docs"
       [class.selected]="doc.name === selected"
       (click)="onSelect(doc.name)"
       [routerLink]="[doc.route]"
       >
        {{doc.name}}
    </a>
</div>

<h5>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <span class="map-text">
        <strong>McLaren Owners Near Me</strong>
    </span>
    
</h5>
<img src="/src/assets/map.JPG" />
