<h4 style="padding-top: 10px">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    <strong>My Garage</strong>
</h4>

<div class="btn-group-vertical left-buttons">
    <a href="javascript:void(0)" class="btn btn-raised"
       [class.selected]="'All Cars' === selected"
       (click)="onSelect('All Cars')"
       [routerLink]="['Cars']">
        All Cars
    </a>

    <a href="javascript:void(0)" class="btn btn-raised" 
       *ngFor="#car of cars"
       [class.selected]="car.name === selected"
       (click)="onCarSelect(car)">
        {{car.name}}
    </a>
</div>

<h4>
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <strong>Documents</strong>
</h4>

<div class="btn-group-vertical left-buttons">
    <a href="javascript:void(0)" class="btn btn-raised"
       *ngFor="#doc of docs"
       [class.selected]="doc.name === selected"
       (click)="onSelect(doc.name)"
       [routerLink]="[doc.route]"
       >
        {{doc.name}}
    </a>
</div>

<h5>
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
    <span class="map-text">
        <strong>McLaren Owners Near Me</strong>
    </span>
    
</h5>
<img src="/src/assets/map.JPG" />
