@import "mixins";

:host {
    width: 100%;
    display: block;
    background-color: #ffffff;
    float: left;
    padding-bottom: 5px;
}

loading {
    left: 220px;
    position: relative;
    top: -5px;
}

.search {
    &__title {
        margin: 20px 30px 0;
        font-size: 20px;
        font-weight: bold;
    }

    &__input {
        &::-webkit-input-placeholder {
            padding-left:10px;
        }

        border: none;
        outline: none;
        box-shadow: none;
        border-bottom: solid 1px lightgrey;
        margin: 20px 70px;
        font-size: 30px;
        width: 250px;
    }

    &__text {
        margin: 20px 30px 0;
        color: lightgrey;
        font-size: 20px;

        &--secondary {
            font-size: 13px;
            margin-top: 0;
            color: #a5a5a5;
        }
    }

    &__button-wrapper {
         float: right;
         margin: 25px 40px;
    }

    &__button {
        @extend %button;
    }
}

.details {
    display: inline-block;
    width: 100%;

    &__content {
        float: left;
        margin-left: 70px;
        margin-top: 30px;
    }

    &__title {
        color: #b1b1b1;
        font-size: 20px;
        margin-left: 30px;
    }

    &__category {
        float: left;
        clear: left;
        color: #b1b1b1;
        font-size: 20px;
    }

    &__value {
        float: left;
        font-size: 20px;
        font-weight: bold;
        color: #747474;
        margin-left: 5px;
    }

    &__button {
        @extend %button;

        float: right;
        clear: left;
        margin: 25px 40px;
    }
}

.added {
    &__text {
        text-align: center;
        font-size: 20px;
        color: #54f754;
        margin-top: 25px;
    }

    &__icon {
        text-align: center;
        font-size: 135px;
        color: #a2ffa2;
        margin-top: 35px;
    }

    &__button {
        float: right;
        margin: 25px 40px;

        @extend %button;
    }
}