<div>
    <div *ngIf="!carAdded" class="search">
        <div class="search__title">Adding your car to Logbook</div>
        <div class="search__text">What's your Vehicle Registration No.?</div>
        <div class="search__text search__text--secondary">"We'll just quickly verify your ownership of this car"</div>

        <input type="text" class="search__input" [(ngModel)]="regNumber" placeholder="e.g. LG68 OOK">

        <button class="search__button-wrapper" [disabled]="loading" (click)="clickSearchCar()">
            <span class="search__button">Search</span>
            <span *ngIf="loading === true && !carDetails" class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
            </span>
        </button>
    </div>

    <div *ngIf="carDetails && !carAdded" class="details">
        <div class="details__title">Are these details correct?</div>

        <div class="details__content">
            <span class="details__category">Make:</span>
            <span class="details__value">{{carDetails?.car.make}}</span>
            <span class="details__category">Model:</span>
            <span class="details__value">{{carDetails?.car.model}}</span>
            <span class="details__category">Colour:</span>
            <span class="details__value">{{carDetails?.colour}}</span>
        </div>

        <button class="details__button" [class.disabled]="loading" (click)="clickAddCar()">
            <span>Continue</span>
            <span *ngIf="loading === true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </button>
    </div>
</div>

<alert [(message)]="alertMessage" [state]="requestState"></alert>

<div *ngIf="carAdded" class="added">
    <div class="search__title">Added your car to Logbook!</div>
    <div class="added__text">Complete!</div>
    <div class="added__icon"><span class="glyphicon glyphicon-ok-circle"></span></div>

    <button class="added__button" [disabled]="loading" (click)="clickCarDone()">
        <span class="save-text">Done!</span>
    </button>
</div>