<div *ngFor="let status of statuses" class="post">
    <div  class="comment-wrapper last">
        <div class="post-img">
            <img src="/src/assets/muj.JPG" />
        </div>

        <div class="comment-text">
            <p>{{status.description}}</p>
        </div>
    </div>

    <div class="line"></div>
    <div class="social">
        <a>Like</a> <a>Comment</a> <a>Share</a>
    </div>

    <div class="loading-wrapper">
        <div class="loading" *ngIf="loading == status.id">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </div>
    </div>

    <div class="btn-group edit-menu">
        <a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <div class="ripple-container"></div>
        </a>
        <ul class="dropdown-menu">
            <li><a (click)="onClickEdit(status.id)">Edit</a></li>
            <li><a (click)="onClickDelete(status.id)">Delete</a></li>
        </ul>
    </div>
</div>

<edit-modal 
    *ngIf="modalName == 'editModal'"
    [status]="selectedStatusId"
>
</edit-modal>
