:host {
    width: 762px;
    min-height: calc(100% - 141px);
    margin-top: 15px;
    float: left;
}

.post-img {
    height: 75px;
    float: left;

    img {
        height: 100%;
    }
}

.post-text {
    float: left;
    padding: 0 10px 10px 10px;
    width: 430px;
    font-weight: 400;
    font-size: 16px;
}

.post {
    background: #ffffff;
    padding: 0 8px;
    margin-bottom: 20px;
    float: left;
    border: solid 1px #EFECEC;
    border-radius: 3px;
}

.social {
    float: left;
    clear: left;
    padding: 10px;

    a {
        padding: 5px;
        font-weight: 500;
        font-size: 16px;
    }
}

.line {
    width: 100%;
    float: left;
    margin-top: 5px;
    background: #EAEAEA;
    height: 1px;
}

.comment-wrapper {
    float: left;
    margin-top: 9px;
    padding: 5px;
    border-radius: 4px;

    .comment-text {
        width: 675px;
        margin-top: 5px;
        float: left;
        padding: 0 10px 0 10px;
        font-weight: 400;
        font-size: 16px;
    }

    .post-img {
        height: 60px;
    }

    .username {
        float: left;
        font-weight: bold;
        margin-left: 10px;
    }

    .date {
        color: #8A8A8A;
        float: left;
        margin-left: 15px;
    }
}

.edit-menu {
    margin: 0;
    margin-right: -8px;
    float: right;

    a {
        cursor: pointer;
        padding: 6px 16px;
    }
}

.caret {
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.loading-wrapper {
    width: 50px;
    float: left;
    margin-left: 195px;
    top: 5px;
    position: relative;
    height: 1px;

    span {
        font-size: 30px;
    }
}

a {
    cursor: pointer;
}

.posted-image {
    height: 100px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.posted-image:hover {
    opacity: 0.8;
}

.media-wrapper {
    float: left;
    clear: left;
}

.media-post {
    float: left;
}

video {
    float: left;
    margin: 20px;
}

.topics {
    float: right;
    margin-right: 20px;
}