<h4 style="padding-top: 10px"><strong>My Garage</strong></h4>

<div class="btn-group-vertical left-buttons">
    <a href="javascript:void(0)" class="btn btn-raised">All Cars<div class="ripple-container"></div></a>
    <a href="javascript:void(0)" class="btn btn-raised">McLaren MP4-12C<div class="ripple-container"></div></a>
    <a href="javascript:void(0)" class="btn btn-raised">Aston Martin DB9<div class="ripple-container"></div></a>
    <a href="javascript:void(0)" class="btn btn-raised">Audi Q7<div class="ripple-container"></div></a>
</div>

<h4><strong>Documents</strong></h4>

<div class="btn-group-vertical left-buttons">
    <a href="javascript:void(0)" class="btn btn-raised">My Documents<div class="ripple-container"></div></a>
    <a href="javascript:void(0)" class="btn btn-raised">Shared Folder<div class="ripple-container"></div></a>
    <a href="javascript:void(0)" class="btn btn-raised">Public Library<div class="ripple-container"></div></a>
</div>

<h4><strong>McLaren Owners Near Me</strong></h4>