<span class="title">DVLA</span>

<table class="table table-striped table-hover" *ngIf="car">
    <tbody>
        <tr class="row">
            <td class="cell">Make</td>
            <td class="cell">{{car.carInfo.car.make}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Model</td>
            <td class="cell">{{car.carInfo.car.model}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Year Of Manufacture</td>
            <td class="cell">{{car.carInfo.car.yearOfManufacture}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Colour</td>
            <td class="cell">{{car.carInfo.colour}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Cylinder Capacity</td>
            <td class="cell">{{car.carInfo.cylinderCapacity}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Fuel Type</td>
            <td class="cell">{{car.carInfo.fuelType}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Registration Number</td>
            <td class="cell">{{car.carInfo.registrationNumber}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Wheel Plan</td>
            <td class="cell">{{car.carInfo.wheelPlan}}</td>
        </tr>

        <tr class="row">
            <td class="cell">CO2 Emission</td>
            <td class="cell">{{car.carInfo.cO2Emission}}</td>
        </tr>
        <tr class="row">
            <td class="cell">Weight</td>
            <td class="cell">{{car.carInfo.weight}}</td>
        </tr>
        <tr *ngIf="car.carInfo.Transmission">
            <td class="cell">Transmission</td>
            <td class="cell">{{car.carInfo.transmission}}</td>
        </tr>
        <tr *ngIf="car.carInfo.SixMonthsTaxRate">
            <td class="cell">SixMonths Tax Rate</td>
            <td class="cell">{{car.carInfo.sixMonthsTaxRate}}</td>
        </tr>
    </tbody>
</table>