:host {
    float: left;
    margin-top: 25px;
    clear: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

li {
    float: left;
    cursor: pointer;
    display: block;
    color: #a5a5a5;
    font-size: 17px;
    text-align: center;
    margin: 16px;
    text-decoration: none;
    font-weight: 600;
}

li.active {
    border-bottom: solid 3px #0000d5;
    color: black;
}

li:hover:not(.active) {
    color: #888888;
}