@import "bootstrap-custom";
@import "loading";

html, body {
    margin: 0;
    padding: 0;
}

my-app {
    display: block;
}

content {
    display: block;
}

.modal-large {
    width: 1060px;
    margin: 30px auto;
}