@import "bootstrap-custom";
@import "loading";

html, body {
    margin: 0;
    padding: 0;
}

my-app {
    display: block;
}

content {
    display: block;
}

.modal-dialog {
    width: auto;
    min-width: 600px;
    max-width: 1060px;
    margin: 30px auto;
}