@import 'mixins';

:host {
    clear: left;
    float: left;
    width: 100%;
}

h5 {
    clear: left;
    float: left;
    color: #c5c5c5;
    font-weight: bold;
    margin-top: 15px;
}

.header {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0 10px 3px;
}

.image, .video {
    margin-top: 20px;
    float: left;
    clear: left;
    width: 100%;
    background: white;
    padding: 20px;

    &__uri {
        position: relative;
        float: left;
        width: 33.33%;
        height: 140px;
        border: solid 3px white;
        overflow: hidden;
        cursor: pointer;

        img, video {
            height: 100%;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.play {
    @extend %center;

    height: 70px;
    width: 70px;
    background: white;
    opacity: 0.3;
    cursor: pointer;
    border-radius: 3px;

    &__icon {
         @extend %center;

        font-size: 35px;
        color: black;
        margin-top: -2px;
    }
}