<div *ngIf="timeline.images.length" class="image">
    <div class="header">PHOTOS</div>
    <div *ngFor="let image of timeline.images; let i=index" class="image__uri">
        <img src="{{image}}" (click)="clickImage(i)">
    </div>
</div>

<div *ngIf="timeline.videos.length" class="image">
    <div class="header">VIDEOS</div>
    <div *ngFor="let video of timeline.videos; let i=index" class="video__uri" (click)="clickVideo(i)">
        <video height="100%">
            <source src="{{video}}" type="video/mp4">
        </video>
        <div class="play"></div>
        <div class="play__icon"><span class="glyphicon glyphicon-play"></span></div>
    </div>
<div>

<modal *ngIf="modal == 'imageModal'"
    [content]="imageModalContent"
    [title]="'Images'"
    [size]="'large'">
</modal>

<modal *ngIf="modal == 'videoModal'"
    [content]="videoModalContent"
    [hideHeader]="true"
    [title]="'Images'"
    [size]="'large'">
</modal>