<h1>Edit Profile</h1>

<loading *ngIf="profileLoading"></loading>

<div *ngIf="profile" class="form-wrapper">
    <div class="form-group label-floating" [class.is-empty]="!profile.name">
        <label for="i5i" class="control-label">Firstname Lastname</label>
        <input type="text" class="form-control" id="i5i" [(ngModel)]="profile.name">
        <span class="help-block">Please enter your name</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.email">
        <label for="i5i" class="control-label">Email address</label>
        <input type="email" class="form-control" [(ngModel)]="profile.email">
        <span class="help-block">Please enter a valid email address</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.mobileNumber">
        <label for="i5i" class="control-label">Phone Number</label>
        <input type="text" class="form-control" [(ngModel)]="profile.mobileNumber">
        <span class="help-block">Please enter a valid phone number</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.town">
        <label for="i5i" class="control-label">Town</label>
        <input type="text" class="form-control" [(ngModel)]="profile.town">
        <span class="help-block">Please enter your Town</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.postCode">
        <label for="i5i" class="control-label">Post Code</label>
        <input type="text" class="form-control" [(ngModel)]="profile.postCode">
        <span class="help-block">Please enter a valid post code</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.line1">
        <label for="i5i" class="control-label">Address Line1</label>
        <input type="text" class="form-control" [(ngModel)]="profile.line1">
        <span class="help-block">Please enter your address</span>
        <span class="material-input"></span>
    </div>

    <div class="form-group label-floating" [class.is-empty]="!profile.line2 ">
        <label for="i5i" class="control-label">Address Line2</label>
        <input type="text" class="form-control" [(ngModel)]="profile.line2">
        <span class="help-block">Please enter your address</span>
        <span class="material-input"></span>
    </div>

    <div class="save-area">
        <a class="btn btn-raised btn-success"
           (click)="saveProfile()"
           [class.disabled]="loading">
            <span class="save-text">Save</span>
            <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </a>
    </div>
</div>

<alert [message]="alertMessage" [state]="requestState" (resetAlertMessage)="resetAlertMessage($event)"></alert>
