<div class="btn-group btn-group-justified">
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <span>Update Status</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal" (click)="onMenuClick('videoModal')">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
        <span>Add Photos/Videos</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal" (click)="onMenuClick('milestoneModal')">
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <span>Add Milestone</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <span>Ask a Question</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
        <span>Upload Documents</span>
    </a>
</div>

<p class="status-text"><strong>Can't wait to meet up with the McLaren Crew tommorw morning!</strong></p>

<span class="make">{{carMake}}</span>
<span class="label label-primary reg-number">{{carRegNumber}}</span>

<div class="btn btn-info btn-raised details" data-toggle="modal" data-target="#myModal" (click)="onMenuClick('taxDetailsModal')">Tax details</div>
<div class="btn btn-info btn-raised details" data-toggle="modal" data-target="#myModal" (click)="onMenuClick('motDetailsModal')">MOT details</div>
<div class="btn btn-info btn-raised details" data-toggle="modal" data-target="#myModal" (click)="onMenuClick('carDetailsModal')">Car details</div>


<video-modal *ngIf="modalName == 'videoModal'"></video-modal>
<milestone-modal *ngIf="modalName == 'milestoneModal'"></milestone-modal>
<car-details-modal *ngIf="modalName == 'carDetailsModal'"></car-details-modal>
<tax-details-modal *ngIf="modalName == 'taxDetailsModal'"></tax-details-modal>
<mot-details-modal *ngIf="modalName == 'motDetailsModal'"></mot-details-modal>