.status-text {
    text-align: center;
    margin-top: 18px;
    font-size: 16px;
}

.btn {
    text-transform: none;
    color: #56517B;
}

.btn-group {
    border-bottom: solid 1px #EDEDED;
}
.glyphicon {
    position: absolute;
    top: 7px;
    font-size: 20px;
    left: 8px;

    &-facetime-video, &-open-file {
        left: 0;
    }
}

