:host {
    width: 100%;
    display: block;
    padding: 20px 40px 0;
}

.loading {
    .glyphicon {
        font-size: 40px;
    }

    font-size: 45px;
    color: #B5B5B5;
}

:host {
    float: left;
}