<div *ngIf="loading" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>

<div *ngIf="!loading">
    <comment *ngFor="let comment of comments"
        [class.remove]="removeLoading === comment.id"
        [comment]="comment"
        [postId]="postId">
    </comment>

    <div class="line"></div>

    <div class="textarea">
        <textarea class="form-control" placeholder="Add your comment here!" [(ngModel)]="newCommentText"></textarea>
    </div>
    <div class="btn btn-raised btn-success add-button" [class.disabled]="addLoading" (click)="clickAddComment()">
        <span class="save-text">Add</span>
        <span *ngIf="addLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>