<div *ngIf="loading" class="loading">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</div>

<div *ngIf="!loading">
    <comment *ngFor="let comment of comments"
        [class.remove]="removeLoading === comment.id"
        [comment]="comment"
        [postId]="postId">
    </comment>

    <div class="line"></div>

    <div class="textarea">
        <textarea placeholder="Add your comment here!" [(ngModel)]="newCommentText"></textarea>
    </div>
    <button class="btn btn-add"
        [disabled]="addLoading || !newCommentText"
        (click)="clickAddComment()">
        <span class="logbookon logbookon-send btn-add__icon" [class.btn-add__icon--show]="showOptions || newCommentText"></span>
        <span *ngIf="addLoading" class="glyphicon glyphicon-refresh glyphicon-refresh-animate btn-add__loading"></span>
    </button>
</div>

