<div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">LOGO</a>
        <form class="navbar-form navbar-left" style="margin-left: 270px">
            <div class="form-group">
                <input type="text" class="form-control col-md-8 search" placeholder="Search for cars">
                <span class="glyphicon glyphicon-search btn" aria-hidden="true"></span>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)">Friends</a></li>
            <li><a href="javascript:void(0)">Messages</a></li>
            <li><a href="javascript:void(0)">Notifications</a></li>
            <li class="dropdown">
                <div class="profile-img">
                    <img src="/src/assets/muj.JPG" />
                </div>
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    <strong>William</strong>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Profile</a></li>
                    <li><a href="javascript:void(0)">Settings</a></li>
                    <li><a href="javascript:void(0)">Security</a></li>

                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>