.search {
    width: 350px;
}

.glyphicon-search {
    cursor: pointer;
    padding: 0 0 0 1px;
    margin: 0;
    color: white;
    font-size: 21px;
}

/*.glyphicon-search:hover {
    font-size: 21px;
    transition: 0.1s;
}*/
