.search {
    width: 350px;
}

.glyphicon-search {
    cursor: pointer;
    padding: 0 0 0 1px;
    margin: 0;
    color: white;
    font-size: 21px;
}

.profile-img {
    width: 40px;
    float: left;
    margin-top: 6px;

    img {
        width: 100%;
    }
}

.dropdown {
    margin-left: 13px;

    a.dropdown-toggle {
        float: left;
        padding-left: 5px;
    }
}