<div *ngFor="let post of posts"
      class="post"
     [class.post-removing]="loading === post.id"
>
    <div class="content">
        <div class="img">
            <img src="/assets/muj.JPG" />
        </div>
        <a class="username">{{post.carInfo?.make}} {{post.carInfo?.model}}</a>
        <span class="date">{{post.createdDate | timelineDate }}</span>
        
        <div class="btn-group edit-menu"> 
            <a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <div class="ripple-container"></div>
            </a>
            <ul class="dropdown-menu">
                <li><a (click)="onClickEdit(post)">Edit</a></li>
                <li><a (click)="onClickDelete(post.id)">Delete</a></li>
            </ul>
        </div>

        <div class="topics">
            [ <span class="topic" *ngFor="let topic of post.topics">{{topic}} </span>]
        </div>

        <div class="description">
            <p>{{post.description}}</p>
        </div>
        <div class="media-wrapper">
            <div class="media-post" *ngFor="let uri of post.contentUris; let i=index">
                <img *ngIf="post.type === 'Image'" class="posted-image {{i}}" src="{{uri}}" (click)="clickImage(post.id, i)" />

                <video *ngIf="post.type === 'Video'" width="320" controls>
                    <source src="{{uri}}" type="video/mp4">
                </video>

                <a href="{{uri}}" *ngIf="post.type === 'Document'" class="documents">
                    <span class="title">document #{{i}}</span>
                    <span class="glyphicon glyphicon-file document"></span>
                </a>
            </div>
        </div>
 
    </div>

    <div class="line"></div>
    <div class="social">
        <a 
            class="like__button" 
            (click)="clickLike(post)"
            [ngClass]="{'like__button--enabled': post.likes?.isCurrentUserLike}"
        >Like
        </a> <span class="like__count">{{post.likes?.count}}</span> 
        <a (click)="onClickShare(post.id)">Share</a>
    </div>

    <div *ngIf="post.comments.loading" class="loading show-comments-loading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate show-comments-loading-spinner"></span>
    </div> 

    <a class="btn show-comments" 
        (click)="clickGetComments(post)"
        [class.disabled]="post.comments.loading"
    >
        Comments <span class="show-comments-sign">{{post.comments.state}}</span>
    </a>
    

    <div class="line"></div>
    
    <comments *ngIf="post.comments.state === '-'" [postId]="post.id"></comments>
</div>

<modal 
       *ngIf="modalName == 'editModal'"
       [contentComponent]="EditModalComponent" 
       [title]="'Edit post'" 
       [showSaveButton]="true"
>
</modal>
<modal 
       *ngIf="modalName == 'imageModal'"
       [contentComponent]="ImageModalComponent" 
       [title]="'Images'" 
       [size]="'large'"
>
</modal>