<h5 *ngIf="posts.images.length">Images</h5>
<div class="image">
    <div *ngFor="let image of posts.images; let i=index" class="image__uri">
        <img src="{{image}}" (click)="clickImage(i)">
    </div>
<div>

<h5 *ngIf="posts.videos.length">Videos</h5>
<div class="video">
    <div *ngFor="let video of posts.videos" class="video__uri">
        <video  controls>
            <source src="{{video}}" type="video/mp4">
        </video>
    </div>
<div>

<modal *ngIf="modal == 'imageModal'"
    [contentComponent]="ImageModalComponent"
    [title]="'Images'"
    [size]="'large'">
</modal>