@import "mixins";

textarea.form-control  {
    margin-bottom: 35px;
}

:host {
    width: 100%;
    display: block;
    background-color: #ffffff;
    float: left;
    padding-bottom: 5px;
}


.text-input {
    border: none;
    width: 500px;
    margin: 10px 0 10px 20px;
    float: left;
    resize: none;
}

.menu-glyphicon {
    top: 4px;
    font-size: 22px;
    margin-right: 10px;
}

.post, .add-media {
    margin: 0;
    padding: 5px 20px;
    float: right;
    margin-top: -3px;
    margin-right: 10px;
    clear: left;
}

.add-media {
    float: left;
    padding: 2px 12px;
    margin-left: 10px;
    margin-right: 2px;

    .add-media-text {
        top: -2px;
        position: relative;
        color: #949494;
    }
}

.add-photos {
    clear: left;
    color: green;
}

.add-videos {
    color: red;
}

.add-documents {
    color: blue;
}

.car-info {
    float: left;
}

.media-wrapper {
    float: left;

    .img-wrapper {
        position: relative;
        float: left;
    }

    img,
    video {
        height: 100px;
        padding: 15px;
        float: left;
    }
    .documents {
        .document {
            font-size: 80px;
            padding: 15px;
            float: left;
            color: grey;
        }

        .title {
            @extend %truncate;

            display: block;
            margin-left: 18px;
            width: 100px;
            padding-right: 15px;
        }
    }


    button {
        top: -12px;
        right: -12px;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }

    button:hover ~ img,
    button:hover ~ video,
    button:hover ~ .documents {
        opacity: 0.5;
    }

    .selected-topics {
        float: left;
        clear: left;
        padding: 5px 0 10px 0;

        .topic {
            position: relative;
            float: left;
            font-weight: 500;
            color: grey;
            margin-left: 32px;
        }

        button {
            top: -22px;
            right: -22px;
        }
    }
}

.btn.disabled:hover {
    background-color: transparent;
}

.add-topics {
    float: left;
    margin: 4px 20px;
    padding: 0;

    .menu {
        padding: 0;
        margin: 0;

        a {
            cursor: pointer;
            padding: 6px 16px;
        }

        .caret {
            border-top: 6px dashed;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
        }
    }

    .text {
        color: #949494;
        font-weight: 500;
    }
}

.status-add-topics {
    clear: left;
}