<div class="cars dropdown-toggle" data-toggle="dropdown">
    <div class="cars__image">
        <img src="{{activeCar.info.image || '/assets/default-car.jpg'}}" />
    </div>

    <div class="cars__text cars__text-posting">Posting in:</div>
    <div class="cars__text cars__text-name">{{activeCar.name}} {{activeCar.info.car.yearOfManufacture}}</div>
    <div class="cars__menu-icon glyphicon glyphicon-menu-down "></div>
</div>
<ul class="dropdown-menu dropdown-menu-right cars__menu">
    <div class="cars__menu-text">Pick a car to post to:</div>
    <li *ngFor="let car of cars; let index=index" (click)="clickCar(index)" class="cars__menu-item">
        <div class="cars__menu-image">
            <img src="{{car.info.image}}" />
        </div>
        <div class="cars__menu-name">{{car.name}} {{car.info.car.yearOfManufacture}}</div>
    </li>
</ul>

<div class="writer-img">
    <img src="{{user?.image}}" />
</div>

<textarea class="text-input" rows="4" placeholder="What's up?" [(ngModel)]="currentStatus" [class.lineDisabled]="postType !== 'status'">
</textarea>

<div class="add" hoverAdd>
    <div class="add__plus">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>

    <div class="add__action add__action--video" uploadFile (onFileSelect)="clickAddMedia($event, 'video')" [class.disabled]="postType !== 'status' && postType !== 'video'">
        <span class="glyphicon glyphicon-facetime-video"></span>
    </div>
    <div class="add__action add__action--image" uploadFile (onFileSelect)="clickAddMedia($event, 'image')" [class.disabled]="postType !== 'status' && postType !== 'image'">
        <span class="glyphicon glyphicon-picture"></span>
    </div>
    <div class="add__action add__action--document" uploadFile (onFileSelect)="clickAddMedia($event, 'document')" [class.disabled]="postType !== 'status' && postType !== 'document'">
        <span class="glyphicon glyphicon-file"></span>
    </div>
</div>

<div class="media-wrapper">
    <div class="img-wrapper" *ngFor="let uri of uris; let i=index">
        <button type="button" class="close" (click)="clickUriRemove(i)">&#215;</button>
        <img *ngIf="postType === 'image'" src="{{uri}}" />

        <video *ngIf="postType === 'video'" height="100">
            <source src="{{uri}}" type="video/mp4">
        </video>

        <div *ngIf="postType === 'document'" class="documents">
            <span class="title" title="{{files[i].name}}">{{files[i].name}}</span>
            <span class="glyphicon glyphicon-file document"></span>
        </div>
    </div>
</div>

<div class="line"></div>

<div class="topics__title">Tags:</div>
<div *ngFor="let topic of topics" class="topics__item">{{topic}}</div>

<button class="btn post" [disabled]="loading" (click)="clickAddPost()">
    <span class="save-text">Post</span>
    <span *ngIf="loading == true" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
</button>
