@import 'mixins';

:host {
    width: 500px;
    display: block;
    background-color: #ffffff;
    margin: auto;
    padding-bottom: 5px;
}

.menu {
    margin-bottom: 0;
}

.write {
    display: inline-block;

    &__img {
        width: 37px;
        height: 37px;
        overflow: hidden;
        border-radius: 50%;
        margin: 30px;
        float: left;

        img {
            width: 100%;
        }
    }

    &__input {
        border: none;
        width: 300px;
        margin-top: 30px;
        float: left;
        resize: none;
    }
}



.add {
    float: right;
    width: 100px;
    height: 100px;
    position: relative;
    font-size: 18px;

    &__plus {
        @extend %center;

        font-size: 24px;
        cursor: pointer;
    }

    &__action {
        padding: 8px;
        border-radius: 16px;
        background: #e9e8ee;
        position: absolute;
        box-shadow: 1px 1px 3px 1px rgba(196, 195, 195, 0.75);
        cursor: pointer;

        &.disabled {
            cursor: default;

            span {
                opacity: 0.3;
            }
        }

        &:hover:not(.disabled) {
            font-size: 24px;
            border-radius: 20px;
            padding: 10px;
        }

        &--video {
            transition: 0.3s;
            left: -20px;
            top: 32px;
            color: red;
        }

        &--image {
            transition: 0.3s;
            left: 36px;
            top: -12px;
            color: green;
        }

        &--document {
            transition: 0.3s;
            left: 82px;
            top: 32px;
            color: blue;
        }
    }
}

.media-wrapper {
    display: inline-block;

    .img-wrapper {
        position: relative;
        float: left;
    }

    img,
    video {
        height: 100px;
        padding: 15px;
        float: left;
    }
    .documents {
        .document {
            font-size: 80px;
            padding: 15px;
            float: left;
            color: grey;
        }

        .title {
            @extend %truncate;

            display: block;
            margin-left: 18px;
            width: 100px;
            padding-right: 15px;
        }
    }


    button {
        top: -12px;
        right: -12px;
        padding: 10px;
        position: absolute;
        z-index: 1;
    }

    button:hover~img,
    button:hover~video,
    button:hover~.documents {
        opacity: 0.5;
    }
}

.line {
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    margin: 10px 0;
}

.post {
    padding: 0 12px;
    float: right;
    font-size: 13px;
    margin: 5px 25px 0 0;
    color: white;
    background: blue;
}

.car-images {
    float: left;
    margin: 0 15px;

    &__image {
        height: 50px;
        float: left;
        cursor: pointer;
        margin: 0 5px;

        &:hover:not(&--active) {
            opacity: 0.7;
        }

        &--active {
            cursor: default;
            border: solid 2px blue;
        }

        img {
            height: 100%;
            float: left;
        }
    }
}

.cars {
    background-color: #f6f6f6;
    cursor: pointer;
    display: inline-block;
    padding: 20px 20px 20px 30px;
    position: relative;
    width: 100%;

    &-wrapper {
        position: relative;
    }

    &__image {
        border-radius: 50%;
        height: 32px;
        float: left;
        opacity: 0.3;
        overflow: hidden;
        width: 32px;

        img {
            height: 100%;
        }
    }

    &__text {
        float: left;
        font-weight: bold;
        line-height: 32px;

        &-posting {
            font-size: 15px;
            margin-left: 20px;
            opacity: 0.3;
        }

        &-name {
            @extend %truncate;

            font-size: 17px;
            margin-left: 20px;
            max-width: 250px;
        }
    }

    &__menu-icon {
        font-size: 14px;
        margin-left: 10px;
        margin-top: 9px;
    }

    &__menu {
        background-color: #f6f6f6;
        border-radius: 0;
        border: none;
        width: 100%;

        &-text {
            padding: 20px 20px 10px 30px;
            opacity: 0.4;
        }

        &-item {
            clear: left;
            cursor: pointer;
            float: left;
            width: 100%;
            padding: 10px 20px 10px 30px;

            &:hover {
                background-color: #f2f2f2;
            }
        }

        &-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
            float: left;

            img {
                height: 100%;
            }
        }

        &-name {
            @extend %truncate;

            float: left;
            max-width: 350px;
            font-size: 15px;
            font-weight: bold;
            line-height: 30px;
            margin-left: 15px;
        }
    }
}

.topics {
    &__title {
        color: #c9c9c9;
        float: left;
        font-size: 13px;
        margin: 5px 20px 0 20px;
    }

    &__item {
        float: left;
        padding: 0px 10px;
        border: solid 1px #ececec;
        margin: 5px 0 0 10px;
        font-size: 13px;
    }
}

.footer {
    display: inline-block;
    width: 100%;
}