<div class="post">
    <div class="post-img">
        <img src="/src/assets/muj.JPG" />
    </div>

    <div class="post-text">
        <p>
            I've finally gotten around to ordering these mods and the car's booked in for work to begin next Wednesday.
            I'm so excited, not sure if I'm going to be able to sleep until it's all done.
        </p>
    </div>

    <div class="car-img clear btn" data-toggle="modal" data-target="#myModal">
        <img src="/src/assets/car1.JPG" />
    </div>
    <div class="car-img btn" data-toggle="modal" data-target="#myModal">
        <img src="/src/assets/car2.JPG" />
    </div>
    <div class="car-img btn" data-toggle="modal" data-target="#myModal">
        <img src="/src/assets/car3.JPG" />
    </div>
</div>
<div class="topics">
    <p>Topics</p><br />
    <p>MP412C Mansory</p>
    <p>Body Styling</p>
    <p></p>Imported Parts
</div>

<div class="social">
    <a href="#">Like</a> <a href="#">Comment</a> <a href="#">Share</a>
</div>

<div class="line"></div>

<div class="comment-wrapper">
    <div class="post-img">
        <img src="/src/assets/user2.JPG" />
    </div>

    <div class="comment-text">
        <p>
            Oh wow. I really like that! Can I ask where you're getting it done and (if you don't mind) what it's going to cost?
        </p>
    </div>
</div>

<div class="comment-wrapper">
    <div class="post-img">
        <img src="/src/assets/muj.JPG" />
    </div>

    <div class="comment-text">
        <p>
            Well, I had the parts imported from a Chinese manufacturer, but obviusly having the car modified over here. You're looking at
            &pound;6000 for the parts and around &pound;2500 for the fitting. Some respray needs to be done too. I'll video the work being done and upload it here.
        </p>
    </div>
</div>



