<div *ngIf="carLoaded">
    <add-post></add-post>

    <timeline></timeline>

    <!--<timeline>
        <p class="header">Timeline</p>
        <a href="#" class="item">Today</a>
        <a href="#" class="item">March</a>
        <a href="#" class="item">February</a>
        <a href="#" class="item">January</a>
    </timeline>-->
</div>

<car-details-modal *ngIf="modalName == 'carDetailsModal'"></car-details-modal>
<tax-details-modal *ngIf="modalName == 'taxDetailsModal'"></tax-details-modal>
<mot-details-modal *ngIf="modalName == 'motDetailsModal'"></mot-details-modal>