<div class="wrapper" [class.remove]="loadingRemove">
<div class="img">
    <img src="/assets/profile01.png" />
</div>
<div class="description">
    <p> {{comment.comment}}</p>
</div>

<div class="btn-group edit-menu" [class.edit-menu--show]="showOptions">
    <span href="bootstrap-elements.html"
         data-target="#"
         class="dropdown-toggle glyphicon glyphicon-option-vertical edit-menu__icon"
         data-toggle="dropdown">
        <div class="ripple-container"></div>
    </span>
    <ul class="dropdown-menu">
        <li><a (click)="clickEdit()">Edit</a></li>
        <li><a (click)="clickRemove()">Delete</a></li>
    </ul>
</div>

<span class="date">{{comment.createdDate | timelineDate }}</span>
</div>
<!--<div class="social">
    <span class="like__count">{{likes.length}}</span>
    <span class="glyphicon glyphicon-heart like__button" (click)="clickLike()" [ngClass]="{'like__button--enabled': likesService.isCurrentUserLike()}">
    </span>
</div>-->

<modal *ngIf="modal == 'editComments'" [contentComponent]="EditCommentsComponent" [title]="'Edit comment'" [showSaveButton]="true">
</modal>