<div class="img">
    <img src="/assets/profile01.png" />
</div>
<div class="description">
    <p> {{comment.comment}}</p>
</div>

<div class="btn-group edit-menu">
    <a href="bootstrap-elements.html" data-target="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <div class="ripple-container"></div>
    </a>
    <ul class="dropdown-menu">
        <li><a (click)="clickEdit()">Edit</a></li>
        <li><a (click)="clickRemove()">Delete</a></li>
    </ul>
</div>

<span class="date">{{comment.createdDate | timelineDate }}</span>

<div class="social">
    <span class="like__count">{{likes.length}}</span>
    <span class="glyphicon glyphicon-heart like__button"
        (click)="clickLike()"
        [ngClass]="{'like__button--enabled': likesService.isCurrentUserLike()}">
    </span>
</div>

<modal *ngIf="modal == 'editComments'"
    [contentComponent]="EditCommentsComponent"
    [title]="'Edit'"
    [showSaveButton]="true">
</modal>