:host {
    float: left;
    width: 100%;
    padding: 10px 10px 0 10px;
}

.img {
    float: left;
    height: 24px;
    width: 24px;
    overflow: hidden;
    border-radius: 12px;
    margin-right: 10px;
    margin-top: 6px;
    margin-left: 12px;

    img {
        height: 100%;
    }
}

.date {
    float: right;
    margin: 13px 10px 0 0;
    color: #cfcfcf;
    font-size: 11px;
}

.edit-menu {
    cursor: pointer;
    float: right;
    margin: 13px 3px 3px 3px;
    opacity: 0;
    transition: opacity 0.1s;

    &--show {
        opacity: 1;
    }

    &__icon {
        font-size: 14px;
        color: #b8b8b8;
        // overwrite bootstrap
        box-shadow: none !important;

        &:hover, &[aria-expanded="true"] {
            color: grey;
        }
    }
}

.description {
    float: left;
    font-size: 12px;
    width: 285px;
    margin: 10px 10px 10px;
}

.remove {
    opacity: 0.5;
}

.social {
    float: right;

    a {
        padding: 5px;
        font-weight: 500;
        font-size: 16px;
    }

    .like__button {
        padding-right: 0;
        font-weight: 400;
        color: grey;
        font-size: 20px;
        position: relative;
        top: 5px;
        cursor: pointer;

        &--enabled {
            color: green;
        }
    }
}

.like__count {
    font-size: 12px;
}
