.status-text {
    width: 660px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.status-text input {
    text-align: center;
    font-weight: bold;
}

.btn {
    text-transform: none;
    color: #56517B;
}

.btn-group {
    border-bottom: solid 1px #EDEDED;
}
.glyphicon {
    position: absolute;
    top: 7px;
    font-size: 20px;
    left: 8px;

    &-facetime-video, &-open-file {
        left: 0;
    }
}

.details {
    margin-top: 2px;
    float: right;
}

.reg-number {
    float: left;
    margin: 5px;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    background-color: #FFD239;
}

.make {
    margin: 10px;
    margin-left: 30px;
    float: left;
    font-weight: bold;
}

.menu {
    margin-bottom: 0;
}

.save {
    display: inline-block;
    padding: 4px 13px;
    margin-left: 18px;
}

loading {
    left: 220px;
    position: relative;
    top: -5px;
}