<div class="btn-group btn-group-justified menu">
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <span>Update Status</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal" (click)="onMenuClick('videoModal')">
        <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
        <span>Add Photos/Videos</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal" (click)="onMenuClick('milestoneModal')">
        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
        <span>Add Milestone</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        <span>Ask a Question</span>
    </a>
    <a class="btn " data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
        <span>Upload Documents</span>
    </a>
</div>


<div class="form-group label-floating status-text">
    <input class="form-control" id="focusedInput2" type="text" [(ngModel)]="currentStatus">
</div>
<div class="btn btn-raised btn-success save" (click)="onClickSave()">save</div>

<span class="make">{{carMake}}</span>
<span class="label label-primary reg-number">{{carRegNumber | regNumber}}</span>

<loading *ngIf="loading"></loading>

<video-modal *ngIf="modalName == 'videoModal'"></video-modal>
<milestone-modal *ngIf="modalName == 'milestoneModal'"></milestone-modal>
<car-details-modal *ngIf="modalName == 'carDetailsModal'"></car-details-modal>
<tax-details-modal *ngIf="modalName == 'taxDetailsModal'"></tax-details-modal>
<mot-details-modal *ngIf="modalName == 'motDetailsModal'"></mot-details-modal>