.status-text {
    width: 660px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
}

.status-text input {
    text-align: center;
    font-weight: bold;
}

.btn {
    text-transform: none;
    color: #56517B;
}

.btn-group {
    border-bottom: solid 1px #EDEDED;
}
.glyphicon {
    position: absolute;
    top: 7px;
    font-size: 20px;
    left: 8px;

    &-facetime-video, &-open-file {
        left: 0;
    }
}

.details {
    margin-top: 2px;
    float: right;
}

.reg-number {
    float: left;
    margin: 5px;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    background-color: #FFD239;
}

.make {
    margin: 10px;
    margin-left: 30px;
    float: left;
    font-weight: bold;
}

.menu {
    margin-bottom: 0;
}

.save {
    display: inline-block;
    padding: 4px 13px;
    margin-left: 18px;
}

loading {
    left: 220px;
    position: relative;
    top: -5px;
}

.writer-img {
    margin: 0;
    margin-left: 10px;
    height: 77px;
    padding: 3px;
    position: absolute;
    border: solid 2px #E6E6E6;
    border-radius: 4px;
    margin-top: 3px;

    img {
        height: 100%;
    }
}

.form-group {
    margin: 0;
    margin-top: 5px;
    padding: 0;

    textarea {
        padding-left: 100px;
    }
}

.help-block {
    margin-left: 320px;
}

.post {
    margin: 0;
    padding: 5px 20px;
    float: right;
    margin-top: -3px;
    margin-right: 10px;
}

.car-info {
    float: left;
    margin-top: -7px;
}